In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://onderwijsaanbod.kuleuven.be/opleidingen/n/SC_55036830.htm"
soup = BeautifulSoup(requests.get(url).text, 'html.parser')

In [ ]:
[link for link in soup.find_all("a", href=True) if "syllabi" in link.get("href")]

In [52]:
from pydoc import doc

courses = []
for course in soup.find_all("tr", {"class":"opo_row fase_active"}):
    prof = {}
    for docent in course.findChildren("td", {"class":"docent"})[0].findChildren("a"):
        pnr = docent.get("href").split("/")[-1]
        if pnr != "#":
            prof[pnr]=docent.contents[0]
    courses.append({
        "code":course.findChildren("td", {"class":"code"})[0].contents[0],
        "sem":course.findChildren("td",{"class":"sem"})[0].contents[0].get("title"),
        "prof":prof
    })
pd.DataFrame(courses)

,code,sem,prof
0,H01A8A,Eerste semester,"{'00012283': 'I.Smets', '00015835': 'P.Van Puy..."
1,H01B0B,Eerste semester,"{'00008451': 'J.Vander Sloten', '00046457': 'T..."
2,H01D0A,Tweede semester,"{'00008023': 'B.Blanpain', '00038090': 'K.Vanm..."
3,H01Z2A,Tweede semester,"{'00006076': 'W.Dehaene', '00014436': 'M.Steya..."
4,H01B2B,Tweede semester,"{'00031977': 'M.Houssa', '00013713': 'J.Indekeu'}"
...,...,...,...
152,H08U4A,Tweede semester,{'00015548': 'J.Swevers'}
153,H01V4B,Eerste semester,"{'00040958': 'M.Schevenels', '00117989': 'G.Va..."
154,H01E7A,Tweede semester,"{'00009249': 'P.Willems', '00011040': 'T.Van G..."
155,H03L1B,Tweede semester,"{'00038015': 'K.Allacker', '00022648': 'F.De T..."
156,I0J25A,Tweede semester,"{'00076217': 'K.Van Meerbeek', '00032939': 'H...."